* {
  box-sizing: border-box;
}

:root {
  --font-family: 'Gotham SSm A', 'Gotham SSm B', BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;

  /* shared colors */
  --color-paleblue-h: 189;
  --color-paleblue-s: 72%;
  --color-paleblue-l: 49%;
  --color-paleblue: hsl(
    var(--color-paleblue-h),
    var(--color-paleblue-s),
    var(--color-paleblue-l)
  );
  --color-paleblue-text: #ffffff;

  --color-red-h: 347;
  --color-red-s: 84%;
  --color-red-l: 66%;
  --color-red: hsl(var(--color-red-h), var(--color-red-s), var(--color-red-l));
  --color-red-text: #ffffff;

  /* shared z-index */
  --zindex-tooltip: 2100;
  --zindex-dropdown: 2110;
}

/* common app styles */
body {
  background-color: var(--color-gray14);
  color: var(--color-primary400);

  font-size: var(--font-size);
  font-family: var(--font-family);
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

a,
a:visited,
a:hover,
a:active,
a:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}
